.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above all other content */
}

.loading-image {
  width: 80px; /* Adjust size of the loading animation */
  height: 80px;
}
.addBtn{
background-color: rgb(159,105,52);
color: white;
transition: 0.3s ease-in;
}
.addBtn:hover{
  background-color: rgb(101,67,33);
  transition: 0.3s ease-in;
}
th{
  background-color: #e4de71;
  color:black;
}
tr td{
  background-color:#eeeaa9;
  color: #85802d;
  font-family: cursive;

}