<body>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-5" style="width: 400px;">
      <div class="text d-flex justify-content-center align-items-center mb-5">
        <h4>login</h4>
      </div>

      <div class="form-group">
        <input type="text" class="form-control mb-3" [(ngModel)]="auth.name" placeholder="user name...">
      </div>
      <div class="form-group">
        <input type="password" class="form-control mb-3" [(ngModel)]="auth.password" placeholder="Password...">
      </div>
      <button class="btn btn-block mt-2" type="button" (click)="login()">Submit</button>
      <div class="success mt-3">
        <p *ngIf="auth.success" class="bg-success text-white p-2 text-center">{{auth.loading}}</p>
      </div>
      <div class="error mt-3">
        <p *ngIf="auth.error" class="bg-danger text-white p-2 text-center">{{auth.error}}</p>
      </div>
    </div>
  </div>
</body>

